@tailwind base;
@tailwind utilities;

.link-button {
	@apply font-mono text-16 uppercase font-semibold;
}

.link-button::before {
	content: '>> ';
	white-space: nowrap;
}

.article-content {
	@apply leading-175 font-light text-16 md:text-18;

	max-width: 45em;
}

.article-content h2 {
	@apply font-semibold tracking-title leading-125 text-28 sm:text-32 lg:text-44;

	margin-top: 1em;
	margin-bottom: 0.4em;
}

.article-content h3 {
	@apply font-semibold tracking-title leading-125 text-24 lg:text-32;

	margin-top: 0.8em;
	margin-bottom: 0.2em;
}

.article-content h4 {
	@apply font-semibold tracking-title leading-125;

	font-size: 1rem;
	text-transform: uppercase;
	margin-top: 0.8em;
	margin-bottom: 0.2em;
}

.article-content h5 {
	@apply font-semibold tracking-title leading-125;

	font-size: 0.875rem;
	text-transform: uppercase;
	margin-top: 0.8em;
	margin-bottom: 0.2em;
}

.article-content h6 {
	@apply font-semibold tracking-title leading-125;

	font-size: 0.75rem;
	text-transform: uppercase;
	margin-top: 0.8em;
	margin-bottom: 0.2em;
}

.article-content p {
	margin-bottom: 1.3em;
}

.article-content strong, .article-content b {
	@apply font-semibold;
}

.article-content a {
	@apply font-medium text-blue hover:underline;
}

.article-content ul {
	list-style: disc;
	padding-left: 1.5em;
	margin-bottom: 1.3em;
}

.article-content ol {
	list-style: decimal;
	padding-left: 1.5em;
	margin-bottom: 1.3em;
}

.article-content code {
	@apply bg-black-a-10 rounded-sm p-1 text-black font-medium;

	font-size: 0.75em;
}

.article-content pre {
	@apply bg-black-a-70 rounded-sm p-2 text-white font-light;

	font-size: 0.875em;
    overflow: auto;
	margin-bottom: 1.3em;
}

.article-content pre code {
	@apply bg-transparent rounded-none p-0 text-white font-light;

	font-size: 1em;
}

.article-content blockquote {
	@apply py-2;

	position: relative;
	padding-left: 1.5em;
	margin-bottom: 1.3em;
}

.article-content blockquote :last-child {
	margin-bottom: 0;
}

.article-content blockquote::before {
	@apply bg-black-a-20;

	content: '';
	position: absolute;
	display: block;
	width: 0.35rem;
	height: 100%;
	left: 0;
	top: 0;
}

.article-content iframe {
	max-width: 100%;
}
