//
// Local Footer
//

footer {
	padding: rem-calc(20);
	font-size: rem-calc(14);
	text-align: center;
}

//
// Global Reset
//

:global(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:global(html) {
	font-size: 16px;
}

:global(body) {
	font-family: $font-mono;
	overflow-x: hidden;
}

:global(img) {
	max-width: 100%;
}

:global(a) {
	color: $color-link;
}

:global(s) {
	position: relative;
	text-decoration: none;
	white-space: nowrap;

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: calc(100% + 4px);
		height: 2px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, 0);
		background-color: red;
	}
}

//
// Article Styles
//

// :global(.article-content) {
// 	max-width: 540px;
//     margin: 0 auto;
// }

// :global(.article-content h2) {
//     margin-top: 8px;
// }