//
// Variables
//

$rem-base: 16px;

$material-easing: cubic-bezier(.25,.8,.25,1);

$font-oswald: 'Oswald', 'Arial Narrow', Arial, sans-serif;
$font-mono: 'Roboto Mono', monospace;

$color-link: #0038FF;

$breakpoints: (
	'phone-xsmall': 319px,
	'phone-small': 424px,
	'phone-medium': 599px,
	'tablet': 767px,
	'tablet-large': 1023px,
	'desktop-small': 1199px,
	'desktop-medium': 1439px,
	'desktop-mlarge': 1599px,
	'desktop-large': 1799px,
	'desktop-xlarge': 1919px
) !default;

@import '../node_modules/include-media/dist/_include-media.scss';

//
// Functions
//

@function calc-letter($percent) {
	$percent: strip-unit($percent);
	@return 1em * ($percent / 100);
}

@function fluid($min-breakpoint, $max-breakpoint, $min-value, $max-value) {
	$min-vw: 0;
	$max-vw: 0;

	@if map-has-key($breakpoints, $min-breakpoint) {
		$min-vw: map-get($breakpoints, $min-breakpoint);
	} @else {
		$min-vw: to-number($min-breakpoint);
	}

	@if map-has-key($breakpoints, $max-breakpoint) {
		$max-vw: map-get($breakpoints, $max-breakpoint);
	} @else {
		$max-vw: to-number($max-breakpoint);
	}

	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-value);
	$u4: unit($max-value);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		@return calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
	}
}

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base) {
	@if abs($value) <= 9 {
		@return $value * 1px;
	}

	$value: strip-unit($value) / strip-unit($base-value) * 1rem;

	@return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
	$max: length($values);

	@if $max == 1 {
		@return convert-to-rem(nth($values, 1), $base-value);
	}
	$remValues: ();

	@for $i from 1 through $max {
		$remValues: append(
			$remValues,
			convert-to-rem(nth($values, $i), $base-value)
		);
	}

	@return $remValues;
}

//
// Placeholders
//

%container {
	width: 100%;
	max-width: rem-calc(1440);
	margin-right: auto;
	margin-left: auto;
}

//
// Font Imports
//

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/Oswald-Light.ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/Oswald-Medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/Oswald-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/assets/fonts/RobotoMono-Light.ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/assets/fonts/RobotoMono-Regular.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/assets/fonts/RobotoMono-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
